<h1>TODO</h1>

<form data-bind="submit: addTask">
    Add task: <input data-bind="value: newTaskTitle" />
    <button type="submit">Add</button>
</form>

<ul data-bind='foreach: tasks'>
  <li data-bind='text: title'></li>
</ul>
